<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact page</title>
</head>
<body>
    <form action="" method="POST">
        {{contact_page.name}} <br>
        {{contact_page.username}} <br>
        {{contact_page.phonenumber}} <br>
        {{contact_page.email}} <br>
        {{contact_page.subject}} <br>
        {{contact_page.message}} <br>
        <button type="submit">ثبت کردن</button>

    </form>
</body>
</html>